
/*        header               */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    background: url(./images/bg-65e1b575664af170534291.png);
}
header{
    width: 95%;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
header > h1 {
    padding-left: 5%;
}

/*         body main                 */



.title-home{
    width: 90%;
    margin: 0 auto; 
    display: flex;
    padding: 50px 0;
    padding-top: 70px;
}
.content{
    width: 60%;
    text-align: left;
    padding: 70px 20px 20px 70px;
}
.content > h1{
    font-size: 40px;
    color: #a3b104;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.content > p {
    font-size: 18px;
    color:#a3b104;
    width: 400px;
    padding: 10px 0;
}
.content > h1 > span {
    color: white;
}
.content > button{
    padding: 13px 25px ;
    font-size: 15px;
    background: #a3b104;
    border: 1px solid #a3b104;
    border-radius: 6px;
    color:white;
    margin-top: 30px;
    transition: .8s;
    cursor: pointer;
}
.content > button:hover{
    background: transparent;
    border: 1px solid #a3b104;
}
.slider > button{
    padding: 20px;
    background: white;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: .8s;
}
.slider > button:hover{
    background: #a3b104;
}
.slider{
    padding-top: 50px;
}
.img > img {
    width: 75%;
}


/*    CONTACTS US    */

#s1 {
    display: flex;
    justify-content: space-between;
    color:white;
    padding: 40px 180px 40px 180px;
    

}
.INFOS >div{
    color: white;
    display:flex;
    flex-direction: column;
    padding: 1px 10px 20px 10px;
}

.INFOS >div>h2{
    color: white;
    padding:10px 0px;
    font-family: 'Segoe UI';
}
.INFOS >div>p{
    padding:10px 0px 0px 0px;
    
}

.CONTACTS{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI';
    font: 17px;
    background-color:#f3f3f325;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    padding-bottom: 5px;
}

.CONTACTS>h2{
    color: white ;
    padding: 10px 0px;
}

.INFOS > .adress{
    background-color:#f3f3f325;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    
}
.INFOS> .infos_background{
    background-color:#f3f3f325;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 15px;
}
.INFOS> .opening_background{
    background-color:#f3f3f325;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 15px;
}
.INFOS>h2{
    color: white ;
    padding: 10px 0px;
}
/* INPUT : */


.input_1{
    display: flex;
    gap: 23px;
    padding: 10px 0px 10px 0px;

}

.input_2{
    display: flex;
    gap: 23px;
    padding: 1px 0px 5px 0px;
}

.input_3{
    display: flex;
    flex-direction:column;
    gap: 23px;
    padding: 10px 0px 0px 0px;
}
.input_3 .input-button{
    text-align: right;
}

.input-firstName > #First_Name{
    
    margin-top: 9px;  
    width: 150px;
    height: 40px;  
}
.input-firstName > #First_Name:focus{
    outline:3px solid #ffd700;
    border: none;
}


.input-lastName > #Last_Name{
    margin-top: 9px ;  
    width: 150px;
    height: 40px;  
}
.input-lastName> #Last_Name:focus{
    outline:3px solid #ffd700;
    border: none;
}


.input-email > #email{
    margin-top: 9px ;  
    width: 150px;
    height: 40px;  
}
.input-email> #email:focus{
    outline:3px solid #ffd700;
    border: none;
}


.input-phone > #phone{
    margin-top: 9px ;  
    width: 150px;
    height: 40px;  
}
.input-phone> #phone:focus{
    outline:3px solid #ffd700;
    border: none;
}


.input-message > #message{
    margin-top: 9px ;  
    width: 320px;
    height: 90px;
}
.input-message > #message:focus{
    outline:3px solid #ffd700;
    border: none;
}

/* hover d'inputs : */

.input-firstName> #First_Name:hover{
    background-color: white;
    outline:4px solid #ffd700;
    border: none;
}
.input-lastName > #Last_Name:hover{
    background-color: white;
    outline:4px solid #ffd700;
    border: none;
}
.input-email > #email:hover{
    background-color: white;
    outline:4px solid #ffd700;
    border: none;
}
.input-phone > #phone:hover{
    background-color: white;
    outline:4px solid #ffd700;
    border: none;
}
.input-message > #message:hover{
    background-color: white;
    outline:4px solid #ffd700;
    border: none;
}


/* BUTTON : */
.input-button > #button_send{
    width: 70px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 3px;
}
.input-button> #button_send:hover{
    transform: scale(1.1); 

}




/* this part for footer */
footer{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(87, 109, 33);
}
footer > .links{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
footer > .links > img {
    transition: .8s;
}
footer > .links > img:hover {
    transform: scale(1.1);
}
footer > h2 {
    font-size: 15px;
    color: white;
}